/*	Remove white top bar */
* {
	margin:0;
	padding:0;
}

body {
 	background-color:#FFFFFF;
	background-position:center;	
	font-family:Franklin Gothic Book;
	margin:0;
	font-size:100%;
}

footer{
	background-color:#A0A0A0;
	text-align:center;
	color:#FFF;
	padding:25px;
	clear: both;
	overflow:hidden;
    padding-top:50px;
}

h1 {
	text-align:center;
}

/*-------------------------------
        NAVIGATION STYLE 
--------------------------------*/
nav {
	height:50px;
	line-height:1.8;
	margin:0;
	padding-right:10px;
}

#nav-top{
	background-color:#152941;
	text-align:right;
	position: fixed;
	width:100%;
	z-index:1;
    margin:0;
    top: 0px;
    left: 0px;
}

#nav-top ul li{
	list-style-type:none;
	display:inline-block;
    padding-right:5px;
}

a.cart {                        
	vertical-align: middle;
    position: relative;
    right:8px;
    /*top: 9px;           NEED TO STYLE THIS AGAIN  */
}

#nav-top h1 {
	width:300px;
	float:left;
	color: #FFFFFF;
	padding-top:3px;
}

#nav-bottom{
	background-color:#A0A0A0;
	text-align:center;
}

#nav-bottom ul li{
	list-style-type:none;
	display:inline-block;
	padding:10px 5px;
}

footer p a {
   padding-right:3px;
}

/*-------------------------------
            LINK STYLE 
--------------------------------*/
#nav-top ul li a, #nav-bottom ul li a{
	color:#FFFFFF;
	padding:17px;
	text-transform:uppercase;
	text-decoration:none;
}
#nav-top ul li a:hover { 
	background-color:#ffffff;
	color:#152941;
	}
#nav-top ul li a:active {
	background-color:#99F;
	}
#nav-bottom ul li a:hover { 
	color:#666; 
	}
#nav-bottom ul li a:active {
	color:#333;
	}
#nav-top h1{
	text-align:center;
	letter-spacing:10px;
}

/*-------------------------------
     BANNER AND BUTTON STYLE 
--------------------------------*/
#banner img {
	display:block;
	margin:auto;
	width:auto;
	height:auto;
}

.button {
	position:relative;
	bottom:155px;
	width:100%;
}

.button a {
	background-color:#FFF;
    width:130px;
    border:1px solid black;
    padding:10px;
    margin:25px;
	text-decoration:none;
	color:#000;	
}

.button a:hover {
	background-color:#000;
	color:#FFF;
}


/*-------------------------------
        CONTAINER STYLE 
--------------------------------*/
.wrap {
	margin:0 auto;
	width:80%;
    padding:50px; 
}

.content {
    padding: 50px 50px 10px 50px;
	overflow:hidden;
}

#left-content {
	float:left;
	width: 45%;
	height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
	padding: 2%;
    background-color: #dde5d6;
    border-radius: 5px;
}

#right-content {
	float: right;
	width: 45%;
	height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
	padding: 2%;
    background-color: #dde5d6;
    border-radius: 5px;
}

/*-------------------------------
          PRODUCT STYLE 
--------------------------------*/
.product-container {
    text-align:center;
	display: inline-block;
	width:280px;
    height:auto;
	margin:2%;  
}

.product-container p {
	padding: 5px 20px 5px 20px;
}
 
/* REF: W3.CSS Images. (2017). W3schools.com. 
   From https://www.w3schools.com/w3css/w3css_images.asp */
.img-circle {
    float:left;
    margin:3%;
    width:250px;
    height:auto;
	border:double 6px #333;
    border-radius:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* REF: CSS Image Opacity / Transparency. (2017). W3schools.com. 
   From https://www.w3schools.com/css/css_image_transparency.asp */
.img-circle:hover {
	color:#14377D;
	opacity:0.8;
	transition:0.5s ease;
    -webkit-transition: 1s ease;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btnView a {
	background-color:#FFF;
    border:1px solid black;
	text-decoration:none;
	color:#000;	
	padding: 5px;
}

.btnView a:hover {
	background-color:#000;
	color:#FFF;
}


/*-------------------------------
        CONTACT US STYLE 
--------------------------------*/
#left-content h1, #right-content h1 {
    padding-bottom: 15px;
}

#left-content p, #right-content p {
    line-height: 1.5;
}

#right-content p span {
    display:block;
}

/* REF: How To Create a Contact Form with CSS. (2017). W3schools.com. 
   From https://www.w3schools.com/howto/howto_css_contact_form.asp */
.txtbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="text"], textarea {  /* Styling Textboxes*/
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    border-radius: 5px;
    padding: 10px;
    background-color: #152941;
    color: #ffffff;
    float: right;
    width: 30%;
}

.validation {
    font-size: medium;
    color: #ff1818;
    float: right;
}

#map {
    width: 100%;
    height: 230px;
    border: 1px solid black;
}


/*-------------------------------
        MEDIA QUERIES 
--------------------------------*/

@media only screen and (min-width:150px) and (max-width:640px) {

	#nav-top {
		height: 273px;
		margin:0 5px 0 5px;
        position:absolute;
	}

    #nav-top h1 {
	    width:100%;
	    text-align:center;
        text-decoration: underline;
    }

    #nav-top ul li {
		width:100%;
	}

	#nav-top ul li a {	
		padding: 10px 25px;
        text-align:center;
	}

	#nav-top a:link, #nav-top a:active {
		padding: 10px 25px;
		height: 25px;
		display:block; 
	}

    #nav-bottom{
	    background-color:#A0A0A0;
	    text-align:center;
    }

    #nav-bottom ul li{
	    padding: 0 1px ;
    }

    footer p a {
       padding:0;
    }

    .wrap {
		font-size:90%;
        padding-top: 270px;
        width:100%;
        padding: 270px 20px 20px 20px ;
	}

    .content {
        width: 100%;
        padding: 30px 25px 10px 25px;
    }

    .product_container {
        width:80%;
		height:auto;
	}

    .product-container h3, .product-container p {
       padding: 0 60px 10px 0 ;
     
    }

    .img-circle {
	    width:180px;
        height:auto;
    }

     #banner img {
	    width:100%;
	    height:auto;
    }

    .button {
	    bottom:30px;
	    width:100%;
        font-size: 60%;
    }

    .button a {
        padding:5px;
        margin:0;
    }

    #right-content{
        margin-top: 60px;
    }

    #left-content, #right-content {
	    width: 100%;
        float:none;
    }

    input[type="submit"] {
        padding: 5px;
        width: 30%;
    }

    
}



@media only screen and (min-width:720px) and (max-width:1080px) {
    .wrap {
		font-size:95%;
		width:80%;
	}
    
    .content {
        width: 100%;
    }

     #banner img {
	    width:100%;
	    height:auto;
    }

    .button {
	    bottom:120px;
	    width:100%;
        font-size: 90%;
    }
    
}

@media only screen and (max-width:1280px) {
    .wrap {
		font-size:95%;
		width:80%;
	}

    .content {
		width:80%;
	}

	.product_container {
		width:285px;
		height:510px;
		margin-left:10px;
		margin-right:15px;
	}

	.product_container img {
		width:70%;
		height:58%;
	}

    #nav-bottom ul li a{
	    padding:1px;
    }

    input[type="submit"] {
        width: 40%;
    }
  
}



